h1{
color:#003399;
}

h2{
color:#003399;
}

p {
color:#003399;
}

ul {
color:#003399;
}
body {
background-color: #ffcc00;
}


img{
height:100%;
width:100%;
}
	


p{
font-family:"papyrus";
}

h1{
font-family:"papyrus";
}


h2{
font-family:"papyrus":
}

li{
font-family:"papyrus"
}



body{
background-color:#ffcc00;
}
