h1{
color:#003399;
}

h2{
color:#003399;
}

p {
color:#003399;
}

ul {
color:#003399;
}

li {
color:#003399;
}
img{
height:70%;
width:70%;
}


p{
font-family: "comic sans";
}




body{
background-color:#ffcc00;
{

